body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.flex-container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-container {
  display: flex;
  justify-content: center;
}
#main-image {
  background-image: url('images/principal_image_responsive.jpg');
  background-size: cover;
}
#login-container {
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  text-align: right;
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
}
#login-container > span {
  padding: 6px;
  font-size: 14px;
  border: 1px solid white;
}
#login-container > span:first-child {
  font-weight: bolder;
}
#register-text { 
  color: white; 
  font-size: 20px;
  margin-top: 40px;
  padding: 0px 20px;
  text-align: center;
}
#location-input {
  width: 70%;
  padding: 10px;
  margin-top: 15px;
  background: white;
  border: 2px solid white;
}
#location-search {
  color: white;
  padding: 0px 18px;
  margin-top: 15px; 
  background: rgb(90, 132, 238);
  border: 0px solid rgb(90, 132, 238);
}
#terms-conditions {
  color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  text-decoration: underline;
}
#title-options {
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  padding: 0px 40px;
  margin-bottom: 20px;
}
#images-options {
  min-height: 40vh;
  justify-content: center;
}
#images-options > .options {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.options > .image-option {
  margin: auto;
  max-width: 40%;
}
.options > h3 {
  font-size: 16px;
  margin: 2px 0px;
}
.options > p {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 0px 10px;
}
#zone-container {
  background: whitesmoke;
}
#zone-container > h2 {
  font-size: 24px;
  margin-top: 40px;
}
#zone-container > p {
  font-size: 20px;
  margin-top: 0px;
  padding: 0px 10px;
}
.zone-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
}
.zone-text:nth-child(2) {
  color: gray;
} 
#zone-button {
  color: white;
  font-size: 16px;
  padding: 12px;
  margin: 0px 10px;
  background: rgb(90, 132, 238);
  border: 0px solid black;
}
#zone-image {
  max-width: 62%;
  margin: auto;
  margin: 20px auto 0px auto;
}
.black-container {
  height: 30px;
  background: black;
}
@media(min-width: 663px) {
  #register-text {
    font-size: 30px;
    margin: 4% 120px;
    margin-top: 3%;
    margin-bottom: 70px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 80px;
  }
  #main-image {
    height: 80vh;
    background: url('images/principal_image.jpg') no-repeat center center fixed;
    background-size: cover !important;
    background-position-y: -160px;
  }
  .options > .image-option {
    width: 16vw;
    height: 16vw;
    max-width: none;
  }
  #location-input {
    width: 40%;
  }
  .location-options {
    display: inline;
    background: white;
    border: 0px solid gray;
    width: 12%;
    min-width: 110px;
    color: gray;
  }
  #location-checkbox {
    margin-top: 15px;
  }
  #location-checkbox > input {
    margin-top: 12px;
  }
  #location-checkbox > span {
    font-size: 14px;
  }
  #select-modality {
    margin-top: 15px;
  }
  #select-type {
    margin-top: 15px;
  }
  .location-selects {
    -webkit-appearance: none;
    appearance: none;
    background-image: url('images/arrows_select.png');
    background-position: calc(100% - .5rem), 100% 0;
    background-size: .9em .8em;
    background-repeat: no-repeat;
  }
  #title-options {
    margin-bottom: 30px;
  }
  #images-options {
    display: flex;
    flex-direction: row;
  }
  #login-container {
    margin-top: -80px;
    margin-right: 50px;
  }
  .options {
    width: 25%;
  }
  .options > .image-option {
    margin: 10px auto;
  }
  .image-option {
    height: 50%;
  }
  #zone-container {
    justify-content: center;
  }
  .zone-text {
    margin: 10px 32%;
  }
  #zone-button {
    margin: 0px 38%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #zone-image {
    max-width: 40%;
  }
}